<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-9">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/bundle.css}">
    <link rel="icon" type="image/png" th:href="@{/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer src="/js/bundle-flightFiltering.js"></script>
    <script defer src="/js/bundle-detailPopBox.js"></script>
    <title>Flights</title>
</head>
<body class="container-fluid index">
<header th:insert="~{nav::navbar}"></header>
<h1 th:utext="#{page_heading}">Flights</h1>
<main class="table-responsive table-section">
    <section class="align-self-center">
        <form class="row g-3">
            <div class="input-group">
                <button class="btn btn-outline-primary input-group-text" id="searchButton" type="button">
                    <i class="bi bi-search"></i>
                </button>
                <label for="flightNumber" class="form-label visually-hidden">Flight Search</label>
                <input type="text" id="flightNumber" class="form-control" name="flightNumber" placeholder="flight number here" required>
            </div>
        </form>
    </section>
    <div class="row-cols-auto">
        <table class="table">
            <thead>
            <tr>
                <th th:utext="#{airline}">Airline</th>
                <th th:utext="#{flight}">Flight</th>
                <th th:utext="#{from}">From</th>
                <th th:utext="#{to}">To</th>
                <th th:utext="#{date}">Date</th>
                <th th:utext="#{status}">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.getAirline().getAirlineName()}"></td>
                <td th:text="${flight.getFlightNumber()}"></td>
                <td th:text="${flight.getDeparture()}"></td>
                <td th:text="${flight.getArrival()}"></td>
                <td th:text="${flight.getFlightSchedule()}"></td>
                <td th:text="${flight.isOnTime()} ? #{f_on_time} : #{f_delayed}"></td>
                <td><a th:href="@{../flights/details(fn=${flight.getFlightNumber()})}" th:utext="#{details}">details</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{../flights/add}" id="button" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle"></i>
                Add Flight</a>
            <div id="tooltip" role="tooltip">
                Click to add a new flight
                <div id="arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{footer::copy}">Aviato &#169; 2022</footer>
</body>
</html>