<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar">
    <nav id="navbar" class="navbar row">
        <div class="nav-div col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12 row">
            <a class="navbar-brand col-xl-1 col-xs-2 col-md-1" th:href="@{../home}">
                <i class="bi bi-globe fs-2"></i>
                <!--            <img id="logo" src="favicon.png" alt="logo">-->
            </a>
            <a th:utext="#{home}" class="nav-item col-xl-2 col-xs-8 col-md-2" th:href="@{../home}">Home</a>
<!--            <a th:utext="#{passengers_nav}" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item col-xl-2 col-xs-8 col-md-2" th:href="@{../passengers}">Passengers</a>-->
            <a th:utext="#{passengers_nav2}" sec:authorize="hasRole('ROLE_USER')" class="nav-item col-xl-2 col-xs-8 col-md-2" th:href="@{../passengers/details(pn=${#authentication.getPrincipal().getUsername()})}">My Profile</a>
            <a th:utext="#{flights_nav}" sec:authorize="!hasRole('ROLE_ADMIN')" class="nav-item col-xl-2 col-xs-8 col-md-2" th:href="@{../flights}">Flights</a>
            <a th:utext="#{flights_nav}" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item col-xl-2 col-xs-8 col-md-2" th:href="@{../flights/airline(an=${#authentication.getPrincipal().getUsername()})}">Flights</a>
        </div>
        <div class="nav-div col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12 row">
            <span class="col-xl-7 col-xs-12 col-md-7" sec:authorize="isAuthenticated()">
                    Hello, <span sec:authentication="name"></span>!
            </span>
            <a sec:authorize="!isAuthenticated()" class="col-xl-5 col-xs-12 col-md-5 text-right" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right"></i> Log In</a>
            <div sec:authorize="isAuthenticated()" class="col-xl-5 col-xs-12 col-md-5">
                <form id="logout" class="d-flex" th:action="@{/logout}" th:method="post">
                    <button id="logout-btn" type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-box-arrow-right"></i> Log Out
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
