<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bundle.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h3>Error! We cannot register your request at the moment.</h3>
<h6>Please try again. If this error persists contact our <a href="https://www.google.com/">technical support</a></h6>
<p th:text="'Status: ' + ${status}"></p>
<a th:href="@{../home}">Go Back</a>
</body>
</html>